<h2 id="title">Promises in Glimmer</h2>

<p><button {{action 'new'}}>New Date</button></p>

<p><strong>Date</strong>: {{resolve-promise date}}</p>

<p><strong>Formatted</strong>: {{format-date (resolve-promise date) format="L"}}</p>

{{outlet}}
